@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/estilos.css" />

<div class="text-center">
    <h1 class="display-4"><b>~ S N E A K E R _ S T O R E ~</b></h1>
    <p>
        <img src="~/images/home-banner-otro.jpg" class="imagen-ajustada" alt="">
    </p>
</div>
