@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡SNEAKER STORE!</h1>
    <p>
        <img src="~/images/home-banner.jpg" alt="¡Visitanos!">
    </p>
</div>
