@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/estilos.css" />

<p>
    <h4>
        La privacidad de nuestros usuarios es una de nuestras principales preocupaciones en nuestro sitio web. <br /><br />
        Nos tomamos muy en serio la recopilación, el almacenamiento y el uso de la información personal de nuestros usuarios, y nos esforzamos por garantizar que se respeten los derechos de privacidad de todos. <br /><br />
        Para obtener más información sobre cómo manejamos la privacidad de nuestros usuarios, visite nuestra página de Política de privacidad. Allí encontrará detalles sobre cómo se recopila, usa y protege la información personal, así como sus derechos como usuario en lo que respecta a su privacidad en nuestro sitio web. <br /><br />
    </h4>
</p>
